body {
    font-family: 'Montserrat', sans-serif;
}

.modal-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}
#deletebtn{
    background-color:#BB2D3B !important;
}

.navbar {
    background-color: teal;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

footer {
    background-color: teal;
    color: aliceblue;
}

.form {
    padding: 0;
}

.container,
.container-fluid {
    width: 30%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

}
#avatar{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    float: left !important;
    margin-right:10px ;
    margin: 15px;
 
}

#btnHome {
    margin-top: 15px;
    margin-bottom: 50px;
}

input {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: teal 0.5px solid;
    text-align: center;
}

.btn {
    background-color: teal !important;
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: teal
}

p {
    border: 1px solid teal;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.contacts {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: teal 0.5px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.icons-container {
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
}

.icons-container>i {
    margin-right: 5px;
}

i {
    color: teal;
}
.fa-xmark{
    font-size: 25px;
}
.alert-green {
    background-color: #4CAF50 !important;
    color: white;
  }